{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">
            Profil de {{ user.firstName ~ ' ' ~ user.lastName }}
        </h1>

        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            {# Avatar on the left #}
                            <div class="col-md-4 text-center mb-3 mb-md-0">
                                {% if user.avatarFilename %}
                                    <img src="{{ asset('uploads/avatars/' ~ user.avatarFilename) }}"
                                         alt="Avatar" class="img-fluid rounded-circle" style="max-width:150px;">
                                {% else %}
                                    <img src="{{ asset('images/default-avatar.png') }}"
                                         alt="Avatar par défaut" class="img-fluid rounded-circle" style="max-width:150px;">
                                {% endif %}
                            </div>

                            {# User info on the right #}
                            <div class="col-md-8">
                                <ul class="list-group list-group-flush mb-3">
                                    <li class="list-group-item"><strong>Pseudo :</strong> {{ user.pseudo }}</li>
                                    <li class="list-group-item"><strong>Nom :</strong> {{ user.lastName }}</li>
                                    <li class="list-group-item"><strong>Prénom :</strong> {{ user.firstName }}</li>
                                    <li class="list-group-item"><strong>Email :</strong> {{ user.email }}</li>
                                    <li class="list-group-item"><strong>Téléphone :</strong> {{ user.phone ?? 'Non renseigné' }}</li>
                                    <li class="list-group-item"><strong>Campus :</strong> {{ user.campus.campusName ?? 'Non renseigné' }}</li>
                                </ul>

                                <div class="text-center text-md-start">
                                    {% if app.user.id == user.id %}
                                        <a href="{{ path('user_profile_edit') }}" class="btn btn-primary me-2">Modifier mon profil</a>
                                    {% endif %}
                                    <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à l'accueil</a>
                                </div>
                            </div>
                        </div> {# end row #}
                    </div> {# end card-body #}
                </div> {# end card #}
            </div>
        </div>
    </div>
{% endblock %}
